{
  "openapi": "3.1.0",
  "info": {
    "title": "Apollo Signal API",
    "version": "1.0.0",
    "description": "Public REST API for transactional email, contacts, audiences, webhooks, metrics, projects, and sending domains."
  },
  "servers": [
    {
      "url": "https://api.signal.apollodeploy.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Emails",
      "description": "Send, inspect, cancel, validate, and stream transactional email activity."
    },
    {
      "name": "Metrics",
      "description": "Read project, topic, message, and deliverability analytics."
    },
    {
      "name": "Suppressions",
      "description": "Manage addresses that Apollo Signal must not send to."
    },
    {
      "name": "Segments",
      "description": "Create dynamic contact groups and inspect their membership."
    },
    {
      "name": "Topics",
      "description": "Manage subscription topics and topic membership."
    },
    {
      "name": "Contact properties",
      "description": "Define the custom fields available on project contacts."
    },
    {
      "name": "Contacts",
      "description": "Manage contacts, audience membership, images, activity, and engagement data."
    },
    {
      "name": "Webhooks",
      "description": "Manage webhook endpoints, deliveries, tests, and replays."
    },
    {
      "name": "API key usage",
      "description": "Inspect API key metadata and request usage without exposing raw keys."
    },
    {
      "name": "Projects",
      "description": "Inspect projects and project-scoped email logs."
    },
    {
      "name": "Sending domains",
      "description": "Register, verify, inspect, and remove sending domains and BIMI configuration."
    }
  ],
  "paths": {
    "/v1/emails": {
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Send email",
        "description": "Sends a transactional email immediately or at a scheduled time. Provide the HTML or plain-text body inline. The `from` address must belong to a verified sending domain in the project.\n\n`to` accepts email addresses or a single audience id — a topic (`top_<ulid>`) or segment (`seg_<ulid>`). Multiple direct addresses without `cc` or `bcc` fan out to one message per address, and the response reports the first accepted message plus a `messages` entry per recipient. Each fan-out message has its own delivery status, tracking, and unsubscribe links. If multiple `to` addresses are combined with `cc` or `bcc`, SES receives one shared message and its status is aggregate. An audience must be the only recipient and cannot be combined with `cc` or `bcc`, and at most 50 recipients fan out per request — the fan-out is paced to the project's per-second send limit.\n\nEmails are delivered through Amazon SES. Delivery events are available through webhooks and the email timeline endpoint.\n\n### Requirements\n\n- **Permission:** `emails:send`.\n- **Safe retries:** place `idempotencyKey` in the JSON body; Apollo Signal does not use an idempotency header.\n- **HTTP rate limit:** 300 requests per 60 seconds per API key.",
        "parameters": [],
        "requestBody": {
          "description": "Email message including sender, recipients (addresses or a topic / segment id), subject, body content, and optional scheduling and tracking configuration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.apollodeploy.signal.feature.email.api.model.SendEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Email accepted for delivery. The `id` can be used to retrieve status or cancel. For a recipient fan-out, `messages` lists one entry per recipient message; each entry can be tracked independently.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.email.api.model.SendEmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error — missing required fields, invalid address format, body not provided, or an audience combined with other recipients, `cc`, or `bcc`.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "413": {
            "description": "The referenced topic or segment has more than the 50-recipient limit for one send request.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "422": {
            "description": "The `from` domain is not verified, the project is suspended, or the referenced topic/segment has no recipients that could be sent to.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The endpoint rate limit was exceeded. Wait for the `Retry-After` interval before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { createApolloSignalApiClient } from \"@apollo-deploy/signal-sdk\";\n\nconst signal = createApolloSignalApiClient({ apiKey: \"ap_signal_...\" });\n\nconst result = await signal.emails.sendEmail(/* params */);\n\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from apollo_signal import SignalClient\n\nsignal = SignalClient(api_key=\"ap_signal_...\")\n\nresult = signal.emails.sendEmail(# params)\n\nprint(result)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import signal \"github.com/apollo-deploy/signal-sdk-go\"\n\nclient := signal.NewClient(\"ap_signal_...\")\n\nresult, err := client.Emails.SendEmail(context.Background() /* params */)\nif err != nil {\n    log.Fatal(err)\n}\nfmt.Println(result)"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.apollodeploy.signal.SignalClient;\n\nSignalClient signal = new SignalClient(\"ap_signal_...\");\n\nvar result = signal.emails().sendEmail(/* params */);\nSystem.out.println(result);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.apollodeploy.signal.SignalClient\n\nval signal = SignalClient(\"ap_signal_...\")\n\nval result = signal.emails.sendEmail(/* params */)\nprintln(result)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"apollo_signal\"\n\nsignal = ApolloSignal::Client.new(api_key: \"ap_signal_...\")\n\nresult = signal.emails.sendEmail(# params)\nputs result"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "use ApolloSignal\\SignalClient;\n\n$signal = new SignalClient(\"ap_signal_...\");\n\n$result = $signal->emails->sendEmail(/* params */);\nvar_dump($result);"
          },
          {
            "lang": "Rust",
            "label": "Rust",
            "source": "use apollo_signal::SignalClient;\n\nlet signal = SignalClient::new(\"ap_signal_...\");\n\nlet result = signal.emails.sendEmail(/* params */).await?;\nprintln!(\"{:?}\", result);"
          },
          {
            "lang": "C#",
            "label": ".NET",
            "source": "using ApolloSignal;\n\nvar signal = new SignalClient(\"ap_signal_...\");\n\nvar result = await signal.Emails.SendEmailAsync(/* params */);\nConsole.WriteLine(result);"
          }
        ],
        "operationId": "sendEmail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:send"
        ],
        "x-rate-limit": {
          "requests": 300,
          "seconds": 60,
          "policy": "email-send"
        }
      },
      "delete": {
        "tags": [
          "Emails"
        ],
        "summary": "Bulk cancel scheduled emails",
        "description": "Cancels all emails for the project that are currently in `scheduled` status. Useful for aborting a bulk campaign before delivery begins.\n\n### Requirements\n\n- **Permission:** `emails:send`.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Bulk cancel completed.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.email.api.model.BulkCancelResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { createApolloSignalApiClient } from \"@apollo-deploy/signal-sdk\";\n\nconst signal = createApolloSignalApiClient({ apiKey: \"ap_signal_...\" });\n\nconst result = await signal.emails.bulkCancelScheduledEmails(/* params */);\n\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from apollo_signal import SignalClient\n\nsignal = SignalClient(api_key=\"ap_signal_...\")\n\nresult = signal.emails.bulkCancelScheduledEmails(# params)\n\nprint(result)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import signal \"github.com/apollo-deploy/signal-sdk-go\"\n\nclient := signal.NewClient(\"ap_signal_...\")\n\nresult, err := client.Emails.BulkCancelScheduledEmails(context.Background() /* params */)\nif err != nil {\n    log.Fatal(err)\n}\nfmt.Println(result)"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.apollodeploy.signal.SignalClient;\n\nSignalClient signal = new SignalClient(\"ap_signal_...\");\n\nvar result = signal.emails().bulkCancelScheduledEmails(/* params */);\nSystem.out.println(result);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.apollodeploy.signal.SignalClient\n\nval signal = SignalClient(\"ap_signal_...\")\n\nval result = signal.emails.bulkCancelScheduledEmails(/* params */)\nprintln(result)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"apollo_signal\"\n\nsignal = ApolloSignal::Client.new(api_key: \"ap_signal_...\")\n\nresult = signal.emails.bulkCancelScheduledEmails(# params)\nputs result"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "use ApolloSignal\\SignalClient;\n\n$signal = new SignalClient(\"ap_signal_...\");\n\n$result = $signal->emails->bulkCancelScheduledEmails(/* params */);\nvar_dump($result);"
          },
          {
            "lang": "Rust",
            "label": "Rust",
            "source": "use apollo_signal::SignalClient;\n\nlet signal = SignalClient::new(\"ap_signal_...\");\n\nlet result = signal.emails.bulkCancelScheduledEmails(/* params */).await?;\nprintln!(\"{:?}\", result);"
          },
          {
            "lang": "C#",
            "label": ".NET",
            "source": "using ApolloSignal;\n\nvar signal = new SignalClient(\"ap_signal_...\");\n\nvar result = await signal.Emails.BulkCancelScheduledEmailsAsync(/* params */);\nConsole.WriteLine(result);"
          }
        ],
        "operationId": "bulkCancelEmails",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:send"
        ]
      }
    },
    "/v1/emails/{emailId}": {
      "get": {
        "tags": [
          "Emails"
        ],
        "summary": "Get email",
        "description": "Retrieves the full details of a previously sent email by its ID, including the message headers, delivery status, and recipient information.\n\n### Requirements\n\n- **Permission:** `emails:read`.",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "description": "The unique identifier of the email returned at send time.",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email detail with delivery metadata.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.email.api.model.EmailDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "Email not found or does not belong to the requesting project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { createApolloSignalApiClient } from \"@apollo-deploy/signal-sdk\";\n\nconst signal = createApolloSignalApiClient({ apiKey: \"ap_signal_...\" });\n\nconst result = await signal.emails.getEmail(/* params */);\n\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from apollo_signal import SignalClient\n\nsignal = SignalClient(api_key=\"ap_signal_...\")\n\nresult = signal.emails.getEmail(# params)\n\nprint(result)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import signal \"github.com/apollo-deploy/signal-sdk-go\"\n\nclient := signal.NewClient(\"ap_signal_...\")\n\nresult, err := client.Emails.GetEmail(context.Background() /* params */)\nif err != nil {\n    log.Fatal(err)\n}\nfmt.Println(result)"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.apollodeploy.signal.SignalClient;\n\nSignalClient signal = new SignalClient(\"ap_signal_...\");\n\nvar result = signal.emails().getEmail(/* params */);\nSystem.out.println(result);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.apollodeploy.signal.SignalClient\n\nval signal = SignalClient(\"ap_signal_...\")\n\nval result = signal.emails.getEmail(/* params */)\nprintln(result)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"apollo_signal\"\n\nsignal = ApolloSignal::Client.new(api_key: \"ap_signal_...\")\n\nresult = signal.emails.getEmail(# params)\nputs result"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "use ApolloSignal\\SignalClient;\n\n$signal = new SignalClient(\"ap_signal_...\");\n\n$result = $signal->emails->getEmail(/* params */);\nvar_dump($result);"
          },
          {
            "lang": "Rust",
            "label": "Rust",
            "source": "use apollo_signal::SignalClient;\n\nlet signal = SignalClient::new(\"ap_signal_...\");\n\nlet result = signal.emails.getEmail(/* params */).await?;\nprintln!(\"{:?}\", result);"
          },
          {
            "lang": "C#",
            "label": ".NET",
            "source": "using ApolloSignal;\n\nvar signal = new SignalClient(\"ap_signal_...\");\n\nvar result = await signal.Emails.GetEmailAsync(/* params */);\nConsole.WriteLine(result);"
          }
        ],
        "operationId": "getEmail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:read"
        ]
      },
      "delete": {
        "tags": [
          "Emails"
        ],
        "summary": "Cancel email",
        "description": "Cancels a scheduled email before it is sent. Only emails with `status: scheduled` can be cancelled. Attempting to cancel an already-sent email returns 409.\n\n### Requirements\n\n- **Permission:** `emails:send`.",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "description": "The unique identifier of the scheduled email to cancel.",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email cancelled.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.email.api.model.CancelResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "Email not found.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "409": {
            "description": "Email has already been sent and cannot be cancelled.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { createApolloSignalApiClient } from \"@apollo-deploy/signal-sdk\";\n\nconst signal = createApolloSignalApiClient({ apiKey: \"ap_signal_...\" });\n\nconst result = await signal.emails.cancelEmail(/* params */);\n\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from apollo_signal import SignalClient\n\nsignal = SignalClient(api_key=\"ap_signal_...\")\n\nresult = signal.emails.cancelEmail(# params)\n\nprint(result)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import signal \"github.com/apollo-deploy/signal-sdk-go\"\n\nclient := signal.NewClient(\"ap_signal_...\")\n\nresult, err := client.Emails.CancelEmail(context.Background() /* params */)\nif err != nil {\n    log.Fatal(err)\n}\nfmt.Println(result)"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.apollodeploy.signal.SignalClient;\n\nSignalClient signal = new SignalClient(\"ap_signal_...\");\n\nvar result = signal.emails().cancelEmail(/* params */);\nSystem.out.println(result);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.apollodeploy.signal.SignalClient\n\nval signal = SignalClient(\"ap_signal_...\")\n\nval result = signal.emails.cancelEmail(/* params */)\nprintln(result)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"apollo_signal\"\n\nsignal = ApolloSignal::Client.new(api_key: \"ap_signal_...\")\n\nresult = signal.emails.cancelEmail(# params)\nputs result"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "use ApolloSignal\\SignalClient;\n\n$signal = new SignalClient(\"ap_signal_...\");\n\n$result = $signal->emails->cancelEmail(/* params */);\nvar_dump($result);"
          },
          {
            "lang": "Rust",
            "label": "Rust",
            "source": "use apollo_signal::SignalClient;\n\nlet signal = SignalClient::new(\"ap_signal_...\");\n\nlet result = signal.emails.cancelEmail(/* params */).await?;\nprintln!(\"{:?}\", result);"
          },
          {
            "lang": "C#",
            "label": ".NET",
            "source": "using ApolloSignal;\n\nvar signal = new SignalClient(\"ap_signal_...\");\n\nvar result = await signal.Emails.CancelEmailAsync(/* params */);\nConsole.WriteLine(result);"
          }
        ],
        "operationId": "cancelEmail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:send"
        ]
      }
    },
    "/v1/emails/batch": {
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Batch send emails",
        "description": "Sends up to 100 emails in a single API call. Each message in the batch is independent and can have a different recipient, subject, and body. Messages are queued atomically — either all are accepted or none are.\n\n### Requirements\n\n- **Permission:** `emails:send`.\n- **Safe retries:** give each item its own `idempotencyKey`; items settle independently.\n- **HTTP rate limit:** 30 requests per 60 seconds per API key.",
        "parameters": [],
        "requestBody": {
          "description": "Array of email messages to send. Maximum 100 messages per batch.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.apollodeploy.signal.feature.email.api.model.BatchSendRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "All messages accepted. Returns an ID for each message in order.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.email.api.model.BatchSendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error in one or more messages.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "422": {
            "description": "One or more `from` domains are not verified.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The endpoint rate limit was exceeded. Wait for the `Retry-After` interval before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { createApolloSignalApiClient } from \"@apollo-deploy/signal-sdk\";\n\nconst signal = createApolloSignalApiClient({ apiKey: \"ap_signal_...\" });\n\nconst result = await signal.emails.batchSendEmails(/* params */);\n\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from apollo_signal import SignalClient\n\nsignal = SignalClient(api_key=\"ap_signal_...\")\n\nresult = signal.emails.batchSendEmails(# params)\n\nprint(result)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import signal \"github.com/apollo-deploy/signal-sdk-go\"\n\nclient := signal.NewClient(\"ap_signal_...\")\n\nresult, err := client.Emails.BatchSendEmails(context.Background() /* params */)\nif err != nil {\n    log.Fatal(err)\n}\nfmt.Println(result)"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.apollodeploy.signal.SignalClient;\n\nSignalClient signal = new SignalClient(\"ap_signal_...\");\n\nvar result = signal.emails().batchSendEmails(/* params */);\nSystem.out.println(result);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.apollodeploy.signal.SignalClient\n\nval signal = SignalClient(\"ap_signal_...\")\n\nval result = signal.emails.batchSendEmails(/* params */)\nprintln(result)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"apollo_signal\"\n\nsignal = ApolloSignal::Client.new(api_key: \"ap_signal_...\")\n\nresult = signal.emails.batchSendEmails(# params)\nputs result"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "use ApolloSignal\\SignalClient;\n\n$signal = new SignalClient(\"ap_signal_...\");\n\n$result = $signal->emails->batchSendEmails(/* params */);\nvar_dump($result);"
          },
          {
            "lang": "Rust",
            "label": "Rust",
            "source": "use apollo_signal::SignalClient;\n\nlet signal = SignalClient::new(\"ap_signal_...\");\n\nlet result = signal.emails.batchSendEmails(/* params */).await?;\nprintln!(\"{:?}\", result);"
          },
          {
            "lang": "C#",
            "label": ".NET",
            "source": "using ApolloSignal;\n\nvar signal = new SignalClient(\"ap_signal_...\");\n\nvar result = await signal.Emails.BatchSendEmailsAsync(/* params */);\nConsole.WriteLine(result);"
          }
        ],
        "operationId": "batchSendEmails",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:send"
        ],
        "x-rate-limit": {
          "requests": 30,
          "seconds": 60,
          "policy": "email-batch"
        }
      }
    },
    "/v1/emails/{projectId}/stream/token": {
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Issue stream token",
        "description": "Issues a short-lived token that authorises a client to connect to the SSE stream at `/v1/emails/stream`. The token expires after 60 seconds.\n\n### Requirements\n\n- **Permission:** `emails:send`.\n- **Project selection:** API keys always issue a token for the project bound to the key.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project to stream events for.",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stream token issued.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.email.api.model.StreamTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { createApolloSignalApiClient } from \"@apollo-deploy/signal-sdk\";\n\nconst signal = createApolloSignalApiClient({ apiKey: \"ap_signal_...\" });\n\nconst result = await signal.emails.issueStreamToken(/* params */);\n\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from apollo_signal import SignalClient\n\nsignal = SignalClient(api_key=\"ap_signal_...\")\n\nresult = signal.emails.issueStreamToken(# params)\n\nprint(result)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import signal \"github.com/apollo-deploy/signal-sdk-go\"\n\nclient := signal.NewClient(\"ap_signal_...\")\n\nresult, err := client.Emails.IssueStreamToken(context.Background() /* params */)\nif err != nil {\n    log.Fatal(err)\n}\nfmt.Println(result)"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.apollodeploy.signal.SignalClient;\n\nSignalClient signal = new SignalClient(\"ap_signal_...\");\n\nvar result = signal.emails().issueStreamToken(/* params */);\nSystem.out.println(result);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.apollodeploy.signal.SignalClient\n\nval signal = SignalClient(\"ap_signal_...\")\n\nval result = signal.emails.issueStreamToken(/* params */)\nprintln(result)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"apollo_signal\"\n\nsignal = ApolloSignal::Client.new(api_key: \"ap_signal_...\")\n\nresult = signal.emails.issueStreamToken(# params)\nputs result"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "use ApolloSignal\\SignalClient;\n\n$signal = new SignalClient(\"ap_signal_...\");\n\n$result = $signal->emails->issueStreamToken(/* params */);\nvar_dump($result);"
          },
          {
            "lang": "Rust",
            "label": "Rust",
            "source": "use apollo_signal::SignalClient;\n\nlet signal = SignalClient::new(\"ap_signal_...\");\n\nlet result = signal.emails.issueStreamToken(/* params */).await?;\nprintln!(\"{:?}\", result);"
          },
          {
            "lang": "C#",
            "label": ".NET",
            "source": "using ApolloSignal;\n\nvar signal = new SignalClient(\"ap_signal_...\");\n\nvar result = await signal.Emails.IssueStreamTokenAsync(/* params */);\nConsole.WriteLine(result);"
          }
        ],
        "operationId": "issueStreamToken",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:send"
        ]
      }
    },
    "/v1/emails/stream": {
      "get": {
        "tags": [
          "Emails"
        ],
        "summary": "Stream email events",
        "description": "Opens a project-scoped Server-Sent Events stream. First issue a one-time token, then connect within 60 seconds. The stream can emit `sent`, `delivered`, `bounced`, `complained`, `opened`, `clicked`, and `unsubscribed` events. Each JSON payload contains `type`, `emailId`, `occurredAt`, and an event-specific `data` object.\n\n### Requirements\n\n- **Authentication:** one-time stream token from `POST /v1/emails/{projectId}/stream/token`.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Short-lived stream token.",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Server-Sent Events stream. Each `data` field contains one JSON event object.",
            "headers": {},
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "data: {\"type\":\"delivered\",\"emailId\":\"email_01...\",\"occurredAt\":\"2026-08-25T10:00:00Z\",\"data\":{}}\n\n"
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired stream token.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { createApolloSignalApiClient } from \"@apollo-deploy/signal-sdk\";\n\nconst signal = createApolloSignalApiClient({ apiKey: \"ap_signal_...\" });\n\nconst result = await signal.emails.streamEmailEvents(/* params */);\n\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from apollo_signal import SignalClient\n\nsignal = SignalClient(api_key=\"ap_signal_...\")\n\nresult = signal.emails.streamEmailEvents(# params)\n\nprint(result)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import signal \"github.com/apollo-deploy/signal-sdk-go\"\n\nclient := signal.NewClient(\"ap_signal_...\")\n\nresult, err := client.Emails.StreamEmailEvents(context.Background() /* params */)\nif err != nil {\n    log.Fatal(err)\n}\nfmt.Println(result)"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.apollodeploy.signal.SignalClient;\n\nSignalClient signal = new SignalClient(\"ap_signal_...\");\n\nvar result = signal.emails().streamEmailEvents(/* params */);\nSystem.out.println(result);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.apollodeploy.signal.SignalClient\n\nval signal = SignalClient(\"ap_signal_...\")\n\nval result = signal.emails.streamEmailEvents(/* params */)\nprintln(result)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"apollo_signal\"\n\nsignal = ApolloSignal::Client.new(api_key: \"ap_signal_...\")\n\nresult = signal.emails.streamEmailEvents(# params)\nputs result"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "use ApolloSignal\\SignalClient;\n\n$signal = new SignalClient(\"ap_signal_...\");\n\n$result = $signal->emails->streamEmailEvents(/* params */);\nvar_dump($result);"
          },
          {
            "lang": "Rust",
            "label": "Rust",
            "source": "use apollo_signal::SignalClient;\n\nlet signal = SignalClient::new(\"ap_signal_...\");\n\nlet result = signal.emails.streamEmailEvents(/* params */).await?;\nprintln!(\"{:?}\", result);"
          },
          {
            "lang": "C#",
            "label": ".NET",
            "source": "using ApolloSignal;\n\nvar signal = new SignalClient(\"ap_signal_...\");\n\nvar result = await signal.Emails.StreamEmailEventsAsync(/* params */);\nConsole.WriteLine(result);"
          }
        ],
        "operationId": "streamEmailEvents",
        "security": [
          {
            "streamTokenAuth": []
          }
        ]
      }
    },
    "/v1/emails/validate": {
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Validate links in HTML",
        "description": "Parses the submitted HTML email body and checks every hyperlink for reachability and common deliverability issues (tracking redirects, link shorteners, HTTP links). Returns a per-link status report with warnings and errors.\n\n### Requirements\n\n- **Permission:** `emails:send`.",
        "parameters": [],
        "requestBody": {
          "description": "HTML body string to scan for links.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.apollodeploy.signal.feature.email.api.model.ValidateLinksRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Link validation report.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.email.api.model.ValidateLinksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Empty or unparseable HTML body.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { createApolloSignalApiClient } from \"@apollo-deploy/signal-sdk\";\n\nconst signal = createApolloSignalApiClient({ apiKey: \"ap_signal_...\" });\n\nconst result = await signal.emails.validateLinksInHTML(/* params */);\n\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from apollo_signal import SignalClient\n\nsignal = SignalClient(api_key=\"ap_signal_...\")\n\nresult = signal.emails.validateLinksInHTML(# params)\n\nprint(result)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import signal \"github.com/apollo-deploy/signal-sdk-go\"\n\nclient := signal.NewClient(\"ap_signal_...\")\n\nresult, err := client.Emails.ValidateLinksInHTML(context.Background() /* params */)\nif err != nil {\n    log.Fatal(err)\n}\nfmt.Println(result)"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.apollodeploy.signal.SignalClient;\n\nSignalClient signal = new SignalClient(\"ap_signal_...\");\n\nvar result = signal.emails().validateLinksInHTML(/* params */);\nSystem.out.println(result);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.apollodeploy.signal.SignalClient\n\nval signal = SignalClient(\"ap_signal_...\")\n\nval result = signal.emails.validateLinksInHTML(/* params */)\nprintln(result)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"apollo_signal\"\n\nsignal = ApolloSignal::Client.new(api_key: \"ap_signal_...\")\n\nresult = signal.emails.validateLinksInHTML(# params)\nputs result"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "use ApolloSignal\\SignalClient;\n\n$signal = new SignalClient(\"ap_signal_...\");\n\n$result = $signal->emails->validateLinksInHTML(/* params */);\nvar_dump($result);"
          },
          {
            "lang": "Rust",
            "label": "Rust",
            "source": "use apollo_signal::SignalClient;\n\nlet signal = SignalClient::new(\"ap_signal_...\");\n\nlet result = signal.emails.validateLinksInHTML(/* params */).await?;\nprintln!(\"{:?}\", result);"
          },
          {
            "lang": "C#",
            "label": ".NET",
            "source": "using ApolloSignal;\n\nvar signal = new SignalClient(\"ap_signal_...\");\n\nvar result = await signal.Emails.ValidateLinksInHTMLAsync(/* params */);\nConsole.WriteLine(result);"
          }
        ],
        "operationId": "validateLinks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:send"
        ]
      }
    },
    "/v1/metrics/topics/{id}": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "summary": "Get topic engagement analytics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            },
            "description": "Topic identifier."
          },
          {
            "name": "window",
            "in": "query",
            "description": "Time window: `24h`, `7d`, `30d` (default), `90d`.",
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Required for session auth; ignored for API key auth.",
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.metrics.api.model.TopicPerformanceResponse"
                }
              }
            },
            "description": "Request completed successfully."
          },
          "401": {
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            },
            "description": "The API key or stream token is missing, invalid, expired, or inactive."
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "404": {
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            },
            "description": "The requested resource was not found in the authenticated project."
          },
          "429": {
            "description": "The endpoint rate limit was exceeded. Wait for the `Retry-After` interval before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "operationId": "getTopicPerformance",
        "description": "Returns delivery and engagement performance for one topic over the selected time window. API-key authentication always uses the key's project; `projectId` is only needed for dashboard-session authentication.\n\n### Requirements\n\n- **Permission:** `emails:send` or `emails:read` or `metrics:read`.\n- **HTTP rate limit:** 120 requests per 60 seconds per API key.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:send",
          "emails:read",
          "metrics:read"
        ],
        "x-rate-limit": {
          "requests": 120,
          "seconds": 60,
          "policy": "metrics"
        }
      }
    },
    "/v1/metrics/emails/{id}": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "summary": "Get email performance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            },
            "description": "Email identifier."
          }
        ],
        "responses": {
          "200": {
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.metrics.api.model.EmailPerformanceResponse"
                }
              }
            },
            "description": "Request completed successfully."
          },
          "401": {
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            },
            "description": "The API key or stream token is missing, invalid, expired, or inactive."
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "404": {
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            },
            "description": "The requested resource was not found in the authenticated project."
          },
          "429": {
            "description": "The endpoint rate limit was exceeded. Wait for the `Retry-After` interval before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "operationId": "getEmailPerformance",
        "description": "Returns delivery and engagement totals for one email, including opens, clicks, bounces, and complaints when available.\n\n### Requirements\n\n- **Permission:** `emails:send` or `emails:read` or `metrics:read`.\n- **HTTP rate limit:** 120 requests per 60 seconds per API key.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:send",
          "emails:read",
          "metrics:read"
        ],
        "x-rate-limit": {
          "requests": 120,
          "seconds": 60,
          "policy": "metrics"
        }
      }
    },
    "/v1/metrics/emails/{id}/engagement": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "summary": "Get email read engagement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            },
            "description": "Email identifier."
          }
        ],
        "responses": {
          "200": {
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.metrics.api.model.EmailReadScrollAnalyticsResponse"
                }
              }
            },
            "description": "Request completed successfully."
          },
          "401": {
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            },
            "description": "The API key or stream token is missing, invalid, expired, or inactive."
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "404": {
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            },
            "description": "The requested resource was not found in the authenticated project."
          },
          "429": {
            "description": "The endpoint rate limit was exceeded. Wait for the `Retry-After` interval before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "operationId": "getEmailEngagement",
        "description": "Returns read and scroll engagement analytics for one email. Values are present only when read-engagement tracking collected them.\n\n### Requirements\n\n- **Permission:** `emails:send` or `emails:read` or `metrics:read`.\n- **HTTP rate limit:** 120 requests per 60 seconds per API key.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:send",
          "emails:read",
          "metrics:read"
        ],
        "x-rate-limit": {
          "requests": 120,
          "seconds": 60,
          "policy": "metrics"
        }
      }
    },
    "/v1/metrics/summary": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "summary": "Get project metrics summary",
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "description": "Time window: `24h`, `7d` (default), `30d`, or `90d`.",
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Required for session auth; ignored for API key auth.",
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.metrics.api.model.ProjectMetricsSummaryResponse"
                }
              }
            },
            "description": "Request completed successfully."
          },
          "400": {
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            },
            "description": "The request is malformed or contains invalid input."
          },
          "401": {
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            },
            "description": "The API key or stream token is missing, invalid, expired, or inactive."
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The endpoint rate limit was exceeded. Wait for the `Retry-After` interval before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "operationId": "getProjectMetricsSummary",
        "description": "Returns aggregate delivery and engagement counts and rates for the authenticated project over the selected time window.\n\n### Requirements\n\n- **Permission:** `emails:send` or `emails:read` or `metrics:read`.\n- **HTTP rate limit:** 120 requests per 60 seconds per API key.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:send",
          "emails:read",
          "metrics:read"
        ],
        "x-rate-limit": {
          "requests": 120,
          "seconds": 60,
          "policy": "metrics"
        }
      }
    },
    "/v1/metrics/timeline": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "summary": "Get project metrics timeline",
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "description": "Metrics time window.",
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "description": "`hour` or `day`.",
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "`compact` or `detailed`.",
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Required for session auth; ignored for API key auth.",
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.metrics.api.model.ProjectDetailedMetricsTimelineResponse"
                }
              }
            },
            "description": "Request completed successfully."
          },
          "400": {
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            },
            "description": "The request is malformed or contains invalid input."
          },
          "401": {
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            },
            "description": "The API key or stream token is missing, invalid, expired, or inactive."
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The endpoint rate limit was exceeded. Wait for the `Retry-After` interval before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "operationId": "getProjectMetricsTimeline",
        "description": "Returns project metrics bucketed by hour or day. Use `format=detailed` for per-status series or `format=compact` for the compact timeline.\n\n### Requirements\n\n- **Permission:** `emails:send` or `emails:read` or `metrics:read`.\n- **HTTP rate limit:** 120 requests per 60 seconds per API key.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:send",
          "emails:read",
          "metrics:read"
        ],
        "x-rate-limit": {
          "requests": 120,
          "seconds": 60,
          "policy": "metrics"
        }
      }
    },
    "/v1/metrics/advisor": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "summary": "Get deliverability advisor",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Required for session auth; ignored for API key auth.",
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.deliverability.api.model.AdvisorReportResponse"
                }
              }
            },
            "description": "Request completed successfully."
          },
          "401": {
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            },
            "description": "The API key or stream token is missing, invalid, expired, or inactive."
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The endpoint rate limit was exceeded. Wait for the `Retry-After` interval before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "operationId": "getMetricsAdvisor",
        "description": "Returns the current deliverability score and actionable recommendations for the authenticated project.\n\n### Requirements\n\n- **Permission:** `emails:send` or `emails:read` or `metrics:read`.\n- **HTTP rate limit:** 120 requests per 60 seconds per API key.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "emails:send",
          "emails:read",
          "metrics:read"
        ],
        "x-rate-limit": {
          "requests": 120,
          "seconds": 60,
          "policy": "metrics"
        }
      }
    },
    "/v1/projects/{projectId}/suppressions": {
      "get": {
        "tags": [
          "Suppressions"
        ],
        "summary": "List suppressions",
        "description": "Returns a paginated list of suppressed addresses for the project, ordered by suppression date descending.\n\n### Requirements\n\n- **Permission:** `suppressions:read`.\n- **Project access:** the path project must match the API key's project.\n- **HTTP rate limit:** 120 requests per 60 seconds per API key.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project whose suppression list to retrieve.",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default: 1).",
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "title": "Int"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of entries per page (default: 20, max: 100).",
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "title": "Int"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of suppressed addresses.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.core.pagination.Page_com.apollodeploy.signal.feature.suppression.api.model.SuppressionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "Project not found.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The endpoint rate limit was exceeded. Wait for the `Retry-After` interval before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { createApolloSignalApiClient } from \"@apollo-deploy/signal-sdk\";\n\nconst signal = createApolloSignalApiClient({ apiKey: \"ap_signal_...\" });\n\nconst result = await signal.suppressions.listSuppressions(/* params */);\n\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from apollo_signal import SignalClient\n\nsignal = SignalClient(api_key=\"ap_signal_...\")\n\nresult = signal.suppressions.listSuppressions(# params)\n\nprint(result)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import signal \"github.com/apollo-deploy/signal-sdk-go\"\n\nclient := signal.NewClient(\"ap_signal_...\")\n\nresult, err := client.Suppressions.ListSuppressions(context.Background() /* params */)\nif err != nil {\n    log.Fatal(err)\n}\nfmt.Println(result)"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.apollodeploy.signal.SignalClient;\n\nSignalClient signal = new SignalClient(\"ap_signal_...\");\n\nvar result = signal.suppressions().listSuppressions(/* params */);\nSystem.out.println(result);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.apollodeploy.signal.SignalClient\n\nval signal = SignalClient(\"ap_signal_...\")\n\nval result = signal.suppressions.listSuppressions(/* params */)\nprintln(result)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"apollo_signal\"\n\nsignal = ApolloSignal::Client.new(api_key: \"ap_signal_...\")\n\nresult = signal.suppressions.listSuppressions(# params)\nputs result"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "use ApolloSignal\\SignalClient;\n\n$signal = new SignalClient(\"ap_signal_...\");\n\n$result = $signal->suppressions->listSuppressions(/* params */);\nvar_dump($result);"
          },
          {
            "lang": "Rust",
            "label": "Rust",
            "source": "use apollo_signal::SignalClient;\n\nlet signal = SignalClient::new(\"ap_signal_...\");\n\nlet result = signal.suppressions.listSuppressions(/* params */).await?;\nprintln!(\"{:?}\", result);"
          },
          {
            "lang": "C#",
            "label": ".NET",
            "source": "using ApolloSignal;\n\nvar signal = new SignalClient(\"ap_signal_...\");\n\nvar result = await signal.Suppressions.ListSuppressionsAsync(/* params */);\nConsole.WriteLine(result);"
          }
        ],
        "operationId": "listSuppressions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "suppressions:read"
        ],
        "x-rate-limit": {
          "requests": 120,
          "seconds": 60,
          "policy": "suppressions"
        }
      },
      "post": {
        "tags": [
          "Suppressions"
        ],
        "summary": "Add suppression",
        "description": "Adds an email address to the project suppression list. Suppressed addresses will not receive any sends from this project. The reason field records why the address was suppressed (e.g. `manual`, `bounce`, `complaint`).\n\n### Requirements\n\n- **Permission:** `suppressions:write`.\n- **Project access:** the path project must match the API key's project.\n- **HTTP rate limit:** 120 requests per 60 seconds per API key.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project to add the suppression to.",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          }
        ],
        "requestBody": {
          "description": "Email address and reason for suppression.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.apollodeploy.signal.feature.suppression.api.model.AddSuppressionBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Suppression added.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.suppression.api.model.SuppressionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email address or missing required fields.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "Project not found.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The endpoint rate limit was exceeded. Wait for the `Retry-After` interval before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { createApolloSignalApiClient } from \"@apollo-deploy/signal-sdk\";\n\nconst signal = createApolloSignalApiClient({ apiKey: \"ap_signal_...\" });\n\nconst result = await signal.suppressions.addSuppression(/* params */);\n\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from apollo_signal import SignalClient\n\nsignal = SignalClient(api_key=\"ap_signal_...\")\n\nresult = signal.suppressions.addSuppression(# params)\n\nprint(result)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import signal \"github.com/apollo-deploy/signal-sdk-go\"\n\nclient := signal.NewClient(\"ap_signal_...\")\n\nresult, err := client.Suppressions.AddSuppression(context.Background() /* params */)\nif err != nil {\n    log.Fatal(err)\n}\nfmt.Println(result)"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.apollodeploy.signal.SignalClient;\n\nSignalClient signal = new SignalClient(\"ap_signal_...\");\n\nvar result = signal.suppressions().addSuppression(/* params */);\nSystem.out.println(result);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.apollodeploy.signal.SignalClient\n\nval signal = SignalClient(\"ap_signal_...\")\n\nval result = signal.suppressions.addSuppression(/* params */)\nprintln(result)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"apollo_signal\"\n\nsignal = ApolloSignal::Client.new(api_key: \"ap_signal_...\")\n\nresult = signal.suppressions.addSuppression(# params)\nputs result"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "use ApolloSignal\\SignalClient;\n\n$signal = new SignalClient(\"ap_signal_...\");\n\n$result = $signal->suppressions->addSuppression(/* params */);\nvar_dump($result);"
          },
          {
            "lang": "Rust",
            "label": "Rust",
            "source": "use apollo_signal::SignalClient;\n\nlet signal = SignalClient::new(\"ap_signal_...\");\n\nlet result = signal.suppressions.addSuppression(/* params */).await?;\nprintln!(\"{:?}\", result);"
          },
          {
            "lang": "C#",
            "label": ".NET",
            "source": "using ApolloSignal;\n\nvar signal = new SignalClient(\"ap_signal_...\");\n\nvar result = await signal.Suppressions.AddSuppressionAsync(/* params */);\nConsole.WriteLine(result);"
          }
        ],
        "operationId": "addSuppression",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "suppressions:write"
        ],
        "x-rate-limit": {
          "requests": 120,
          "seconds": 60,
          "policy": "suppressions"
        }
      }
    },
    "/v1/projects/{projectId}/suppressions/export": {
      "get": {
        "tags": [
          "Suppressions"
        ],
        "summary": "Export suppressions",
        "description": "Exports the entire suppression list for the project as a CSV file. The response has `Content-Type: text/csv` and a `Content-Disposition: attachment` header suitable for file download. Large lists are streamed.\n\n### Requirements\n\n- **Permission:** `suppressions:read`.\n- **Project access:** the path project must match the API key's project.\n- **HTTP rate limit:** 120 requests per 60 seconds per API key.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project whose suppression list to export.",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Streamed CSV attachment with the columns `email`, `reason`, and `created_at`.",
            "headers": {
              "Content-Disposition": {
                "description": "Attachment filename in the form `suppressions-{projectId}.csv`.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "UTF-8 CSV suppression export."
                },
                "example": "email,reason,created_at\n\"user@example.com\",\"manual\",\"2026-08-25T10:00:00Z\"\n"
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "Project not found.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The endpoint rate limit was exceeded. Wait for the `Retry-After` interval before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { createApolloSignalApiClient } from \"@apollo-deploy/signal-sdk\";\n\nconst signal = createApolloSignalApiClient({ apiKey: \"ap_signal_...\" });\n\nconst result = await signal.suppressions.exportSuppressions(/* params */);\n\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from apollo_signal import SignalClient\n\nsignal = SignalClient(api_key=\"ap_signal_...\")\n\nresult = signal.suppressions.exportSuppressions(# params)\n\nprint(result)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import signal \"github.com/apollo-deploy/signal-sdk-go\"\n\nclient := signal.NewClient(\"ap_signal_...\")\n\nresult, err := client.Suppressions.ExportSuppressions(context.Background() /* params */)\nif err != nil {\n    log.Fatal(err)\n}\nfmt.Println(result)"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.apollodeploy.signal.SignalClient;\n\nSignalClient signal = new SignalClient(\"ap_signal_...\");\n\nvar result = signal.suppressions().exportSuppressions(/* params */);\nSystem.out.println(result);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.apollodeploy.signal.SignalClient\n\nval signal = SignalClient(\"ap_signal_...\")\n\nval result = signal.suppressions.exportSuppressions(/* params */)\nprintln(result)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"apollo_signal\"\n\nsignal = ApolloSignal::Client.new(api_key: \"ap_signal_...\")\n\nresult = signal.suppressions.exportSuppressions(# params)\nputs result"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "use ApolloSignal\\SignalClient;\n\n$signal = new SignalClient(\"ap_signal_...\");\n\n$result = $signal->suppressions->exportSuppressions(/* params */);\nvar_dump($result);"
          },
          {
            "lang": "Rust",
            "label": "Rust",
            "source": "use apollo_signal::SignalClient;\n\nlet signal = SignalClient::new(\"ap_signal_...\");\n\nlet result = signal.suppressions.exportSuppressions(/* params */).await?;\nprintln!(\"{:?}\", result);"
          },
          {
            "lang": "C#",
            "label": ".NET",
            "source": "using ApolloSignal;\n\nvar signal = new SignalClient(\"ap_signal_...\");\n\nvar result = await signal.Suppressions.ExportSuppressionsAsync(/* params */);\nConsole.WriteLine(result);"
          }
        ],
        "operationId": "exportSuppressions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "suppressions:read"
        ],
        "x-rate-limit": {
          "requests": 120,
          "seconds": 60,
          "policy": "suppressions"
        }
      }
    },
    "/v1/projects/{projectId}/suppressions/{email}": {
      "delete": {
        "tags": [
          "Suppressions"
        ],
        "summary": "Remove suppression",
        "description": "Removes an email address from the project suppression list, allowing future sends to that address. The email address must be URL-encoded in the path.\n\n### Requirements\n\n- **Permission:** `suppressions:write`.\n- **Project access:** the path project must match the API key's project.\n- **HTTP rate limit:** 120 requests per 60 seconds per API key.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project to remove the suppression from.",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          },
          {
            "name": "email",
            "in": "path",
            "description": "The URL-encoded email address to remove from the suppression list.",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Suppression removed.",
            "headers": {}
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "Suppression or project not found.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The endpoint rate limit was exceeded. Wait for the `Retry-After` interval before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { createApolloSignalApiClient } from \"@apollo-deploy/signal-sdk\";\n\nconst signal = createApolloSignalApiClient({ apiKey: \"ap_signal_...\" });\n\nconst result = await signal.suppressions.removeSuppression(/* params */);\n\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from apollo_signal import SignalClient\n\nsignal = SignalClient(api_key=\"ap_signal_...\")\n\nresult = signal.suppressions.removeSuppression(# params)\n\nprint(result)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import signal \"github.com/apollo-deploy/signal-sdk-go\"\n\nclient := signal.NewClient(\"ap_signal_...\")\n\nresult, err := client.Suppressions.RemoveSuppression(context.Background() /* params */)\nif err != nil {\n    log.Fatal(err)\n}\nfmt.Println(result)"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.apollodeploy.signal.SignalClient;\n\nSignalClient signal = new SignalClient(\"ap_signal_...\");\n\nvar result = signal.suppressions().removeSuppression(/* params */);\nSystem.out.println(result);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.apollodeploy.signal.SignalClient\n\nval signal = SignalClient(\"ap_signal_...\")\n\nval result = signal.suppressions.removeSuppression(/* params */)\nprintln(result)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"apollo_signal\"\n\nsignal = ApolloSignal::Client.new(api_key: \"ap_signal_...\")\n\nresult = signal.suppressions.removeSuppression(# params)\nputs result"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "use ApolloSignal\\SignalClient;\n\n$signal = new SignalClient(\"ap_signal_...\");\n\n$result = $signal->suppressions->removeSuppression(/* params */);\nvar_dump($result);"
          },
          {
            "lang": "Rust",
            "label": "Rust",
            "source": "use apollo_signal::SignalClient;\n\nlet signal = SignalClient::new(\"ap_signal_...\");\n\nlet result = signal.suppressions.removeSuppression(/* params */).await?;\nprintln!(\"{:?}\", result);"
          },
          {
            "lang": "C#",
            "label": ".NET",
            "source": "using ApolloSignal;\n\nvar signal = new SignalClient(\"ap_signal_...\");\n\nvar result = await signal.Suppressions.RemoveSuppressionAsync(/* params */);\nConsole.WriteLine(result);"
          }
        ],
        "operationId": "removeSuppression",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permissions": [
          "suppressions:write"
        ],
        "x-rate-limit": {
          "requests": 120,
          "seconds": 60,
          "policy": "suppressions"
        }
      }
    },
    "/v1/projects/{projectId}/suppressions/import": {
      "post": {
        "tags": [
          "Suppressions"
        ],
        "summary": "Import suppressions",
        "description": "Bulk-imports a list of suppressed addresses into the project. Addresses that are already suppressed are skipped. Returns a count of newly added suppressions.\n\n### Requirements\n\n- **Permission:** `suppressions:write`.\n- **Project access:** the path project must match the API key's project.\n- **HTTP rate limit:** 120 requests per 60 seconds per API key.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project to import suppressions into.",
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "String"
            }
          }
        ],
        "requestBody": {
          "description": "List of email addresses and optional reasons to import.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.apollodeploy.signal.feature.suppression.api.model.SuppressionImportBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Import completed. Returns a count of added and skipped addresses.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.signal.feature.suppression.api.model.SuppressionImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email addresses or malformed request body.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required permission or cannot access this project.",
            "headers": {},
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/com.apollodeploy.commons.core.error.ApiProblem"
                }
[...]
